.social-log-in
    button.social-log-in__google
        span
            i.fab.fa-google
        | Connect with Google
    button.social-log-in__facebook
        span
            i.fab.fa-facebook
        | Connect with Facebook
    button.social-log-in__github
        span
            i.fab.fa-github
        | Connect with Github