extends layouts/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            label(for="change-password") Change Password
            input(type="text", placeholder="Current Password", name="current-password")
            input(type="text", placeholder="New Password", name="new-password")
            input(type="text", placeholder="Confirm New Password", name="confirm-new-password")
            input(type="submit", value="Update Password")