extends layouts/main

block content
    .form-container
        form(action=routes.signUp, method="post")
            input(type="text", name="name", placeholder="Full Name")
            input(type="email", name="email", placeholder="E-mail Address")
            input(type="password", name="password", placeholder="Password")
            input(type="password", name="confirm-password", placeholder="Confirm Password")
            input(type="submit", value="Sign Up")
        include partials/socialLogIn