extends layouts/main

block content
    .form-container
        form(action=`/video${routes.uploadVideo}`, method="post")
            label(for="video-file") Video File
            input(type="file", id="video-file", name="videoFile", required=true)
            input(type="text", placeholder="Video Title", name="videoTitle", required=true)
            input(type="text", placeholder="Video Description", name="videoDescription", required=true)
            input(type="submit", value="Upload Video")